/*
 * USB CDC-NCM virtual Ethernet interface.
 *
 * The remote MAC is the address advertised for the host side of the link.
 */
/ {
	cdc_ncm_eth0: cdc_ncm_eth0 {
		compatible = "zephyr,cdc-ncm-ethernet";
		remote-mac-address = "020000000002";
		local-mac-address = [02 00 00 00 00 01];
	};
};

/*
 * Keep the last 4 MiB of the 8 MiB external flash for experimental LittleFS
 * user storage. The application stays in the first 4 MiB.
 */
&code_partition {
	reg = <0x100 0x3fff00>;
};

&flash0 {
	partitions {
		storage_partition: partition@400000 {
			compatible = "zephyr,mapped-partition";
			label = "storage";
			reg = <0x400000 0x400000>;
		};
	};
};
